* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.book_header {
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 221, 221);
  border-bottom-left-radius: 200px;
}
.book_headerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book_headerLogo img {
  width: 200px;
  height: 100px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  margin: 10px;
}
.book_NavSection {
  padding: 10px 100px;
}
.book_NavSection a {
  padding: 40px;
  cursor: pointer;
}

.book_headerBody {
  display: flex;
  margin: 100px;
  justify-content: space-between;
}

.book_firstSection {
  display: flex;
  flex-direction: column;
}

.book_firstSection h2 {
  font-size: 40px;
}

.book_firstSection p {
  margin: 10px 0;
}

.book_searchForm {
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  padding: 7px;
  margin: 10px;
  width: 60%;
  display: flex;
}
.book_searchForm input {
  background: none;
  flex: 1;
  border: none;
  outline: 0;
  font-size: 14px;
  padding: 10px;
  margin-right: 5px;
}
.book_searchForm button {
  padding: 15px 40px;
  margin: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: rgb(243, 167, 180);
  transition: all 250ms ease-in-out 0s;
}
.book_searchForm button:hover {
  background-color: rgb(230, 94, 116);
}

.book_searchForm button span {
  color: rgb(165, 29, 51);
  font-size: 15px;
  font-weight: bold;
  transition: all 250ms ease-in-out 0s;
}
.book_searchForm button:hover span {
  color: rgb(243, 243, 243);
  font-size: 15px;
  font-weight: bold;
}
.book_secondSection {
  position: absolute;
  top: 15%;
  left: 55%;
}
.book_secondSection img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(10px 20px 10px #222);
}

/*  */

.search_resultBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 28%;
  border-top: 2px solid whitesmoke;
}
.search_resultBody h3 {
  margin: 10px;
  font-size: 20px;
}

.search_resultBook {
  display: flex;
  align-items: center;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 40%;
  transition: all 250ms ease-in-out 0s;
}
.search_resultBook:hover {
  box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.75);
}

.search_bookImage {
  flex: 0.5;
  text-align: center;
}
.search_bookImage img {
  width: 150px;
  height: 200px;
  padding: 5px;
  border: 1px solid whitesmoke;
}
.search_bookInfo {
  margin-left: 30px;
}

.search_BookInfo h3 {
  font-size: 20px;
}
.search_BookInfo p {
  font-size: 15px;
  margin: 5px 0 0 0;
  color: gray;
}
